[Desktop Entry]
Name=KFlat-Border
Comment=Flat modern design
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=
X-KDE-PluginInfo-Version=
